---
import {Image} from "astro:assets";
import sliderImg1 from "../assets/slider_svg/1.svg"
import sliderImg2 from "../assets/slider_svg/2.svg"
import sliderImg3 from "../assets/slider_svg/3.svg"
import sliderImg4 from "../assets/slider_svg/4.svg"
import sliderImg5 from "../assets/slider_svg/5.svg"
import sliderImg6 from "../assets/slider_svg/6.svg"
import sliderImg7 from "../assets/slider_svg/7.svg"
import sliderImg8 from "../assets/slider_svg/8.svg"
---
<div class="slider-container w-full overflow-hidden bg-gray-100 py-10">
  <div class="slider-track flex">
      <!-- First set of images -->
      <div class="flex space-x-16 mx-8 min-w-max">
          <Image format="avif" src={sliderImg1} alt="Noodels" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg2} alt="ramen" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg3} alt="momos" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg4} alt="chowmin" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg5} alt="soup" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg6} alt="Omlette" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg7} alt="Burger" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg8} alt="Coffee" class="w-auto h-[60px]"/>
      </div>
      <!-- Duplicate set for seamless loop -->
      <div class="flex space-x-16 mx-8 min-w-max">
          <Image format="avif" src={sliderImg1} alt="Noodels" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg2} alt="ramen" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg3} alt="momos" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg4} alt="chowmin" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg5} alt="soup" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg6} alt="Omlette" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg7} alt="Burger" class="w-auto h-[60px]"/>
          <Image format="avif" src={sliderImg8} alt="Coffee" class="w-auto h-[60px]"/>
      </div>
  </div>
</div>

<style>
  @keyframes scroll {
      0% {
          transform: translateX(0);
      }
      100% {
          transform: translateX(-50%);
      }
  }

  .slider-track {
      animation: scroll 20s linear infinite;
  }

  .slider-track:hover {
      animation-play-state: paused;
  }

  .slider-container {
      position: relative;
  }
</style>